In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.DataFrame([[1,2,3],[10,20,30],[100,200,300],[1000,2000,3000]],
                 index=['Alpha', 'Beta', 'Gamma', 'Delta'],
                 columns=['A', 'B', 'C'])
df

          A     B     C
Alpha     1     2     3
Beta     10    20    30
Gamma   100   200   300
Delta  1000  2000  3000

In [4]:
# Row selector based on a column value
df[df.A>5]

          A     B     C
Beta     10    20    30
Gamma   100   200   300
Delta  1000  2000  3000

In [6]:
# Return all elements but NaN if false
df[df>15]

            A       B       C
Alpha     NaN     NaN     NaN
Beta      NaN    20.0    30.0
Gamma   100.0   200.0   300.0
Delta  1000.0  2000.0  3000.0

In [8]:
# Row selector based on a column value
df[df["A"].isin([1, 1000])]

          A     B     C
Alpha     1     2     3
Delta  1000  2000  3000

In [9]:
# Column selector (returns Pandas Series)
df["A"]
# type(df.A)

Alpha       1
Beta       10
Gamma     100
Delta    1000
Name: A, dtype: int64

In [10]:
df.A

Alpha       1
Beta       10
Gamma     100
Delta    1000
Name: A, dtype: int64

In [15]:
# Row Selector (Slicing by num rows)
df[:2]

        A   B   C
Alpha   1   2   3
Beta   10  20  30

In [16]:
# Row Selector (Slicing by index row names)
df["Alpha":"Beta"]

        A   B   C
Alpha   1   2   3
Beta   10  20  30

In [17]:
# Row selector returns Series or DF (loc)
df.loc["Beta"]

A    10
B    20
C    30
Name: Beta, dtype: int64

In [18]:
# Column x Row selector (loc)
df.loc[:,["A", "B"]]

          A     B
Alpha     1     2
Beta     10    20
Gamma   100   200
Delta  1000  2000

In [19]:
# Column x Row selector (loc)
df.loc["Alpha":"Gamma",["A", "B"]]

         A    B
Alpha    1    2
Beta    10   20
Gamma  100  200

In [26]:
df.loc[,["A", "B"]]

SyntaxError: invalid syntax (<ipython-input-26-6d76f7d6e749>, line 1)

In [29]:
df.loc["Alpha":"Gamma",]

         A    B    C
Alpha    1    2    3
Beta    10   20   30
Gamma  100  200  300

In [20]:
# Column x Row selector (iloc)
df.iloc[0]

A    1
B    2
C    3
Name: Alpha, dtype: int64

In [21]:
df.iloc[1][1]

20

In [22]:
df.iloc[[1,2],[0,1]]

         A    B
Beta    10   20
Gamma  100  200

In [23]:
df.iloc[1:3, :]

         A    B    C
Beta    10   20   30
Gamma  100  200  300

In [25]:
df.iloc[1:3,]

         A    B    C
Beta    10   20   30
Gamma  100  200  300

In [24]:
df.iloc[:, 0:2]

          A     B
Alpha     1     2
Beta     10    20
Gamma   100   200
Delta  1000  2000